<html>
<head>
<title>My Profile</title>
</head>
<body><body bgcolor="pink">
<img src="PW.jpg"width="400"height="600"align="right">
<img src="s.gif"width="150"height="100"align="right">
<img src="e.gif"width="150"height="100"align="right">
<img src="l.gif"width="150"height="100"align="right">
<img src="l.gif"width="150"height="100"align="right">
<img src="a.gif"width="150"height="100"align="right">
<img src="w.gif"width="150"height="100"align="right">
<br>


<p><p style="font-family:ROG Fonts;font-size:300%;text-align:center;color:indigo;">Dhanica Paula</p>
<p><p style="font-family:Ink Free;font-size:200%;text-align:center;">18 years old</p>
<p><p style="font-family:Ink Free;font-size:200%;text-align:center;">Female</p>
<p><p style="font-family:Ink Free;font-size:200%;text-align:center;">July 17, 2001</p>
<p><p style="font-family:Ink Free;font-size:200%;text-align:center;">Nagcarlan, Laguna</p>
<p><p style="font-family:Ink Free;font-size:200%;text-align:center;">0975-435-8690</p>
<br>
<a href="Guess Who - JEAN L..html">Home Page</a>
<br>
<a href="2.html">Next Page</a>
</body>
</html>